wapiti3==3.1.8
aiocache
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
arsenic
asgiref
async-timeout
attrs
beautifulsoup4
Brotli
browser-cookie3
certifi
cffi
charset-normalizer
click
cryptography
dnspython
exceptiongroup
Flask
frozenlist
greenlet
gunicorn
h11
h2
hpack
httpcore
httpx
httpx-ntlm
humanize
hyperframe
idna
importlib_metadata
itsdangerous
jeepney
Jinja2
kaitaistruct
ldap3
loguru
lxml
lz4
Mako
MarkupSafe
mitmproxy
mitmproxy_wireguard
msgpack
multidict
nassl
packaging
passlib
protobuf
publicsuffix2
pyasn1
pycparser
pycryptodomex
pydantic
pydantic_core
pyOpenSSL
pyparsing
pyperclip
pyspnego
ruamel.yaml
ruamel.yaml.clib
six
sniffio
socksio
sortedcontainers
soupsieve
SQLAlchemy
sslyze
structlog
tld
tls_parser
tornado
typing_extensions
urwid
Werkzeug
wsproto
yarl
yaswfp
zipp
zstandard